#wrapper {
	overflow: auto;
}

.reader {
	float: right;
	font-size: 18px;
	margin-top: 23px;
}

.upload {
	overflow: hidden;
}

h2 {
	width:100px;
	float: left;
}

h4 {
	margin: 0;
}

.nothing {
	display: none;
}

.hide {
	visibility: hidden;
	position: absolute;
}

.message {
	font-size: 30px;
}

div.control {
	overflow: hidden;
}

div.original {
	min-width: 400px;
	float: left;
}

div.personal {
}

button#submit {
	margin-top: 30px;
}

button:not(#submit) {
	margin-top: 30px;
}

button {
	width: 80px;
	height: 40px;
}

#button-group-scale {
	border: 2px solid #888;
	float: left;
	padding: 0 10px 10px 10px;
}


#button-group-gray {
	border: 2px solid #888;
	float: left;
	padding: 0 10px 10px 10px;
	margin: 5px 0 10px 0;
}

div.color {
	width: 45%;
	float: left;
}