#wrapper {
	overflow: auto;
}

.hide {
	visibility: hidden;
	position: absolute;
}

div.control {
	overflow: hidden;
}

div.original {
	min-width: 400px;
	float: left;
}

div.personal {
}

button#submit {
	margin-top: 30px;
}

button:not(#submit) {
	margin-top: 30px;
}

button {
	width: 80px;
	height: 40px;
}

#button-group-scale {
	border: 2px solid #888;
	float: left;
	padding: 0 10px 10px 10px;
}


#button-group-gray {
	border: 2px solid #888;
	float: left;
	padding: 0 10px 10px 10px;
	margin: 5px 0 10px 0;
}